[Unit]
Description=Announce phpfpm-dev@%i
BindsTo=phpfpm-dev@%i.service
After=phpfpm-dev@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do /usr/bin/etcdctl set /services/dev/phpfpm/phpfpm-dev@%i '{ \"host\": \"%H\", \"port\": $(echo $(docker port phpfpm-dev 9000) | cut -d':' -f2)}' -ttl 60"; /usr/bin/sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/dev/phpfpm/phpfpm-dev@%i

[X-Fleet]
MachineOf=phpfpm-dev@%i.service
