[Unit]
Description=PHP-FPM %i docker container
After=rpcbind.service
After=docker.service
Before=phpfpm-discovery@%i.service
Requires=docker.service
Requires=rpcbind.service
Requires=phpfpm-discovery@%i.service

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop phpfpm-%i
ExecStartPre=-/usr/bin/docker rm -f phpfpm-%i
ExecStartPre=/usr/bin/docker pull nicholasvmoore/docker-phpfpm
ExecStart=/usr/bin/docker run --rm -v /mnt/mpzfs01/coreos00/www/prod:/php:rw -P=true --name=phpfpm-%i nicholasvmoore/docker-phpfpm
ExecStop=/usr/bin/docker stop phpfpm-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=phpfpm@*.service
