[Unit]
Description=PHP-FPM %i docker container
After=rpcbind.service
After=docker.service
Before=phpfpm-dev-discovery@%i.service
Requires=docker.service
Requires=rpcbind.service
Requires=phpfpm-dev-discovery@%i.service

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop phpfpm-dev-%i
ExecStartPre=-/usr/bin/docker rm -f phpfpm-dev-%i
ExecStartPre=/usr/bin/docker pull nicholasvmoore/docker-phpfpm
ExecStart=/usr/bin/docker run --rm -v /mnt/lun00/coreos00/wordpress/dev:/php:rw -P=true --name=phpfpm-dev-%i nicholasvmoore/docker-phpfpm
ExecStop=/usr/bin/docker stop phpfpm-dev-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=phpfpm-dev@*.service
